@charset "utf-8";
a:hover,.menu a:hover{color:#3bb3ed;}
.nav{background:#0091db;}
.nav a:hover{background:#3bb3ed;color:#fff;}
.nav a.current{background:#3bb3ed;}
/*header*/
.sug-control{border: #0091db 2px solid;}
.sug_submit {background: #0091db;}
.cityCho .city-now,.cityCho .caret-fff,.zhixiashi span,.zhixiashi a,.new-menu a.current{color: #3bb3ed;}
.searchBox .search,.searchMini-content{border: 1px solid #3bb3ed; }
.sousuo{background: url(../images/blue/sousuo_blue.jpg) no-repeat center;}
.fastSea a:hover,.csName a:hover{color: #3bb3ed}
.caret { display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px solid; border-right: 4px solid transparent; border-left: 4px solid transparent; }
/*search*/
.brand-letters a:hover,.brand-name a.current,.carlin p a:hover{color:#0091db; }
/*news首页*/
.menu i{background:url(../images/blue/menu_blue.png) no-repeat;}
.menu a.current span{color:#3bb3ed;}
.xuanche .alink a{background: #3bb3ed;background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 0\9;}
.xuanche .alink a:hover { background: #0091db;background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -47px\9; }
.xuanche .linklist a {background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -94px\9;}
.xuanche .linklist a:hover,.xuanche .linklist a.current{background:#3bb3ed;color:#fff;background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -138px\9}
.news_tab ul.tab_tit li a.current{border-bottom:#3bb3ed 3px solid;color: #3bb3ed;}
.tits h2{border-left: 4px solid #3bb3ed;}
.page_box a:hover{background:#f2f2f2;border:#3bb3ed 1px solid;}
.page_box li.page_now a,.page_box li.active a{background: #3bb3ed;border: #3bb3ed 1px solid;}
.news-carlist a:hover{color:#0091db;}
.xc_rili .big-word{background: url(../images/blue/icon_blue2.png) no-repeat 0 10px;}
.xc_rili .big-word .rili_time{background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -185px\9;}
.now .big-word .rili_time{background:#54bdff;color:#fff;background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -227px\9;}
.shu_line{background: #54bdff;}

.cxpp_tab .cxpp_tit li a.current{border-bottom:#3bb3ed 3px solid;color: #3bb3ed;}
.ranking_24 .list .big-word{background:url(../images/blue/icon_blue1.png) no-repeat 0 14px;}
.news-carlist .car{background: url(../images/blue/car_blue.png) no-repeat center;}
.news-carlist .wxc{background-position: -6px -6px;width: 39px;}
.news-carlist .xxc{background-position: -50px -6px;width: 46px;}
.news-carlist .jcxc{background-position: -96px -6px;width: 48px;}
.news-carlist .zxc{background-position: -150px -6px;width: 44px;}
.news-carlist .zdxc{background-position: -199px -6px;width: 45px;}
.news-carlist .dxc{background-position: -250px -6px;width: 46px;}
.news-carlist .suv{background-position: -300px -6px;width: 44px;}
.news-carlist .mpv{background-position: -350px -6px;width: 45px;}
.news-carlist a:hover .wxc{background-position:-6px -35px }
.news-carlist a:hover .xxc{background-position:-50px -35px;}
.news-carlist a:hover .jcxc{background-position:-96px -35px;}
.news-carlist a:hover .zxc{background-position:-150px -35px;}
.news-carlist a:hover .zdxc{background-position:-199px -35px;}
.news-carlist a:hover .dxc{background-position:-250px -35px;}
.news-carlist a:hover .suv{background-position:-300px -35px;}
.news-carlist a:hover .mpv{background-position:-350px -35px;}
/*article*/
.nav span.xunjia{background: url(../images/blue/xunjia_blue.png) no-repeat;}
.nav span.xunjia a:hover{background: url(../images/blue/xunjia_blue_hover.png) no-repeat;}
.aTit i{background:#3bb3ed;}
.aTit em a,.chePrice,.jjText .price_2{color:#3bb3ed;}
.jiangBtn a{border:#3bb3ed 1px solid;color:#3bb3ed;background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -269px\9;border:none\9;}
.jiangBtn a:hover{background: #3bb3ed;color:#fff;background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -308px\9;}
.chexiBtn a:hover{background:#3bb3ed;color:#fff;background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -384px\9;}
.giftForm .rightBox .tit{background: #0091db;}
.giftForm .imInfor .formStyle .formFild .giftBtn{background: #3bb3ed;}
.giftForm .imInfor .formStyle .formFild .giftBtn:hover{background:#0091db }
.pkNew .pikai a{background: url(../images/blue/pk_blue.png) no-repeat center;}
.pkNew .pikai a:hover{background: url(../images/blue/change_blue.png) no-repeat center;}
.pkNew .list .checkbox-inline.on{background:url(../images/blue/checked_blue.png) no-repeat left center;*background-position-y:top;}
.xundijia a{border:#3bb3ed 1px solid;color: #3bb3ed;background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -269px\9;border:none\9;}
.xundijia a:hover{background:#3bb3ed;color:#fff;background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -308px\9;}
.pkNew .pkbtn a{background: #3bb3ed;}
.pkNew .pkbtn a:hover{background:#0091db;}
.changeCon a:hover{background:#3bb3ed;}
.add-actstyle p.zsLine{color: #3bb3ed;}
.add-actstyle .zhuantiForm .btn-like{background: #3bb3ed;}
.add-actstyle .zhuantiForm .btn-like:hover{background: #0091db}
.add-actstyle .sub-new .zkan{color: #3bb3ed;border: 1px solid #3bb3ed}
.add-actstyle .sub-new .xprice{background: #3bb3ed;border: 1px solid #3bb3ed}
.add-actstyle .sub-new .zkan:hover{background: #3bb3ed;}
.add-actstyle .sub-new .xprice:hover{background: #0091db;}
.tits_s i{background:#3bb3ed;}
.y_kind1 .article-content table td a{color: #f0606e;}
.y_kind1 .param_table td a{color: #3bb3ed;}
.y_kind1 .param_table .y_bg_kind td{background: #fff6f6;}
.news_t1 .content p .mulink{border-bottom:#3bb3ed 1px dotted;}
.news_t1 table .firstRow td{ background: #3bb3ed;}
.news_t1 table .firstRow td{color:#3bb3ed;}
.aboutTag a:hover{border:#3bb3ed 1px solid;color:#3bb3ed;}
.news_con .news_t1 .content h4{border-left: #3bb3ed 4px solid;}
.zixunBtn{background:#3bb3ed}
.zixunBtn:hover{background:#0091db}
/*标签新样式*/
.tab_text span.n_tags a:hover{border:#3bb3ed 1px solid;color:#3bb3ed;}
/*车系长尾词标签*/
.tagsCon h1{border-left:#3bb3ed 4px solid;}
.tagsList li:hover{border:#3bb3ed 1px solid;}
.tagsList li:hover span.tagsTit{color:#3bb3ed;}
.zhBtn a{border:#3bb3ed 1px solid;color:#3bb3ed;}
.zhBtn a:hover{background:#3bb3ed;color:#fff;}
.tits_s h2{background:url(../images/blue/titBg_blue.png) no-repeat left center;}

/*pk*/
.vsBg{background: url(../images/blue/vs_blue.png) no-repeat;}
.duibiChe .bigTit,.duibiTit .bigTit{border-bottom:#3bb3ed 3px solid;}
.xundijia_db a{border:#3bb3ed 1px solid;color:#3bb3ed;background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -494px\9;border:none\9;}
.xundijia_db a:hover{background:#3bb3ed;color:#fff;background: url(../images/blue/ie7_bg_blue.png) no-repeat 0 -536px\9;}
.bigTit1, .bigTit2, .bigTit3{border-bottom: #3bb3ed 3px solid;}
.newsList_d li{background:url(../images/blue/icon_blue1.png) no-repeat 0 16px;}
.duibiTit ul li{background:#ebf7ff;color:#3bb3ed;}
.duibiTit ul li:nth-child(even){ background: #ebf7ff; }
.poTit li{background:#fff7f7;color:#3bb3ed;}
.qubieL,.poTit .bigTit_s,.qubieR{border-bottom:#3bb3ed 3px solid;}
/*搜索结果页*/
.searMenu a.current{color:#3bb3ed;border-bottom:#3bb3ed 3px solid;}
.searPic ul li .picNum,.search-pop-cars dd .price,.search_bottom .sug_submit,.xq_more,.cxcx em,.ttsearch .fenlei a.current,.nojieguo .nokeys{color:#3bb3ed;}
.shouPx a.current,.ztBtn{background:#3bb3ed;color:#fff;border:#3bb3ed 1px solid;}
.shouT a.current{color:#3bb3ed;border-bottom:#3bb3ed 2px solid;}
.chexiBtn_s a:hover{background:#3bb3ed;color:#fff;}
.ztBtn:hover{background:#0091db;color:#fff;}
.sug_submit:hover{background:#3bb3ed;color:#fff;}

/*询底价预约试驾-lhk*/
.xunjia ul.tit li a.current{border-bottom: #3bb3ed 3px solid;color: #3bb3ed;}
.kobeicho .kobei-now,.kobeicho .caret-fff,.aTit em a,.jxsbox .jxs p.jsx_tele,.kobeibox ul.kb li:hover {color: #3bb3ed;}
.new5 ul li a.current,.cxpp_tab .cxpp_tit li a.current{border-bottom: #3bb3ed 3px solid;color: #3bb3ed;}
.kobeibox ul.kb li.now,.btn-like{background: #3bb3ed;}
.jxsbox .jxs .jxs_name em{color: #3bb3ed;border: 1px #3bb3ed solid; }
.top_text em { color: #3bb3ed; margin: 0 5px; }

/*车系专题页*/
.colorTab li a:hover{border:#3bb3ed 1px solid;}
.smallList a span,.giftBtn,.duibiFix .contrast.on a,.selectCar .jrcomm:hover{background:#3bb3ed;}
.djsjTit a.current,.listTab #baojia li a.now{color:#3bb3ed; border-bottom:#3bb3ed 3px solid;}
.table-style > tbody > tr:hover{background-color: #ebf7ff;border:1px solid #54bdff;}
.table-style > tbody > tr:hover td{border-top:1px solid #54bdff;}
.tableDuibi,.datalBox li a:hover .colorIcon,.xudijia{border: 1px solid #3bb3ed;}
.tableLink a.tableDuibi,.up,.datalBox li a:hover,.q_mianB_boxA .sdian,.q_mianB_boxA span.mainred,.vsTit em,.xudijia a,.duibi a{color: #3bb3ed;}
.ewmsys,.pk02{border-top: 2px solid #3bb3ed;}
.selectCar .jrcomm{color: #3bb3ed;border: 1px solid #3bb3ed;}
.xudijia a:hover{background:#3bb3ed;color:#fff;}
.giftBtn:hover{background:#0091db;color:#fff; }
.tableDuibi .duibiIcon{background: url(../images/blue/jiaduibi.png) no-repeat center; }
.chooseClose{background: url(../images/blue/chooseClose.png) no-repeat;}
/*停售*/
.tingshou a.current{border-bottom:#3bb3ed 2px solid;color: #3bb3ed;}
.cxiR_ts .zdj .zdbj a{color:#3bb3ed;border:#3bb3ed 1px solid;}
.cxiR_ts .zdj .zdbj a:hover{background:#3bb3ed; color:#fff;}
/*车型文章页*/
.tabTitlist li a.current{border-bottom:#3bb3ed 3px solid;}
.numred{background:#3bb3ed;}
/*车型专题页面*/
.cxzt_2 dl dt{border: #3bb3ed 1px solid;color: #3bb3ed; background: #ebf7ff;}
.cxztBtn a.cxztB1{border:#3bb3ed 1px solid;background:#3bb3ed;color:#fff;}
.cxztBtn a.cxztB1:hover{background:#0091db;}
.cxztBtn a.cxztB2:hover{border:#3bb3ed 1px solid;background:#3bb3ed;}

/*相关经销商*/
.paixu .current{color:#3bb3ed;background: #ebf7ff;}
.jxs_A .q_mianB_boxA .tel_a{color:#3bb3ed;}
.jxs_C .q_mianB_boxA .xundijia_a a{border:#3bb3ed 1px solid;color:#3bb3ed;}
.jxs_C .q_mianB_boxA .xundijia_a a:hover{background:#3bb3ed;}
/*---------------地方站------------------*/
/*地方站首页*/
.cheLxTit a.current{border-bottom:#3bb3ed 3px solid;color:#3bb3ed;}
.cuxiaoTit .change{color:#3bb3ed;}
.slideBox ul li:hover{border:#3bb3ed 1px solid;}
.slideBox ul li .photo a{color:#3bb3ed;}
.slideBox ul li .onlineZx{border:#3bb3ed 1px solid;}
.slideBox ul li .onlineZx a{color:#3bb3ed;}
.slideBox ul li .onlineZx a:hover{background: #3bb3ed;}
/*城市筛选*/
.gedi{background:#0091db;}
.gedi a.current,.gedi a:hover{background:#3bb3ed;}
.scity_submit{background: #0091db;}
.scity_submit:hover{background:#3bb3ed;}
.searinfo{color: #3bb3ed;}
.ctTit a.current{border-bottom:#3bb3ed 3px solid;color:#3bb3ed;}
@media (max-width: 1366px){
.nav span.xunjia{background: url(../images/blue/xunjia_blue_s.png) no-repeat;}
.nav span.xunjia a:hover{background: url(../images/blue/xunjia_blue_hover_s.png) no-repeat;}
    }
/*网友排行榜_l*/
.Navigation .listing li a.current{border-bottom: #3bb3ed 3px solid;}
.l_current {background: #3bb3ed;color: #fff;}
.k_list li.l_current:hover{background:#3bb3ed;color: #fff;}
.hk_below .xj_button:hover {color: #fff;background: #3bb3ed}
.hk_below .xj_button {border: 1px #3bb3ed solid;color: #3bb3ed;}