@charset "utf-8";
.top_l {background: #c4121e}
.top_l .word_l {font-size: 24px;color: #fff;line-height: 60px;padding-left: 10px;width:1200px;margin:0 auto;}
.path{background: #fff; font-size: 12px; color: #999;}
.path a{color: #999;}
.path a.disabled{color: #333;}
.mtmc{height: 26px; border-bottom: 1px #eee solid;}
.Label{font-size: 24px; height: 70px; line-height: 70px; color: #333;}
.news_picTop ul{width: 101%; overflow: hidden; margin-bottom: 10px;}
.news_picTop li{float: left; position: relative;}
.news_picTop li .titBg{width: 94%; height: 50px; line-height: 50px; position: absolute; left: 0; bottom: 0; background: url(../images/titBg.png) repeat-x; padding: 0 3%; color: #fff; overflow: hidden; font-size: 16px;}
.news_picTop .big{width: 580px; height: 442px; margin-right: 2px;}
.news_picTop .big img{width: 580px; height: 444px; display: block;}
.news_picTop .small{width: 298px; height: 216px; margin-bottom: 10px; margin-left: 10px;}
.news_picTop .small img{width: 297px; height: 216px; display: block;}
.linedashed{margin: 0 auto; width: 840px; height: 0; border-bottom: #eee 1px dashed;}
.tab_text{*padding-bottom: 30px;
/*border-bottom:#ddd 1px dashed*/ ;overflow: hidden;}
.tab_text img{width: 180px; height: 135px; display: inline-block; float: left; margin: 30px 20px 25px 0px;}
.mian{background: #ececec;}
.pic{margin-bottom: 15px;}
.tabContent{padding: 0 20px;}
.titbox:hover{background: #fafafa;}
.tab_text h3{height: 32px; line-height: 32px; font-size: 24px; font-weight: normal; margin-top: 25px; overflow: hidden;}
.tab_text p{font-size: 14px; color: #666; line-height: 29px; margin-top: 10px; height: 63px; overflow: hidden; text-indent: 2em;}
.tab_text span{font-size: 12px; color: #999; margin-top: 15px; height: 22px; line-height: 20px; overflow: hidden;}
.tab_text span.n_tags{width: 560px;}
.tab_text span.n_tags a{color: #999; border: #ddd 1px solid; padding: 0 2px; margin-right: 5px; display: inline-block; font-size: 12px; border-radius: 3px;}
.tab_text span.n_tags a:hover{color: #fff;}
.newsList .tab_text span.n_tags a:hover{background: #eb2b3b; color: #fff; border: #eb2b3b 1px solid;}
.tab_text span.n_tags a:hover{background: #fff; border: 1px #eb2b3b solid; color: #eb2b3b}
.news_l{width: 880px;}
.news_r{width: 300px;}
.line{width: 840px; height: 1px; background: #eee; margin: 0 auto;}
.news_r .line{width: 280px;}
.tits .More{float: right; margin-right: 20px; font-size: 14px; color: #333; cursor: pointer;}
.boxs .titbox:last-child .linedashed{border:none;}
.mb50 {margin-bottom: 50px;}
/*ie7兼容*/
.clear{clear: both; background: #fff;}
/*换一换*/
.changeCon{margin: 0 10px; padding: 20px 0;}
.changeCon ul{width: 104%; overflow: hidden;}
.changeCon li{float: left; margin-right: 10px;}
.changeCon a{padding: 8px 11px; background: #eee; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; margin-bottom: 10px; display: inline-block; font-size: 14px;}
.changeCon a:hover{color: #fff;}
/*面包屑*/
.path1 {font-size: 12px;height: 60px;line-height: 60px;color: #999;}
/*24小时*/
.jxwztj{margin: 0 10px; overflow: hidden; padding: 10px 0 20px;}
.jxwztj li{float: left; width: 100%;}
.jxwztj .now .big-word{font-weight: 700;}
.jxwztj .now .big-word em{display: none;}
.jxwztj .big-word{height: 32px; line-height: 32px; overflow: hidden; word-break: break-all;}
.jxwztj .big-word .phb{float: left; margin-right: 16px; margin-top: 10px;}
.jxwztj .big-word a{font-size: 14px;}
.jxwztj .big-word em{float: right; margin-left: 15px; font-size: 12px; color: #999}
.jxwztj .small-word{margin: 10px 0; display: none;}
.jxwztj .small-word .pic{float: left; margin-right: 10px; width: 120px; height: 90px;}
.jxwztj .small-word .pic img{width: 120px; height: 90px;}
.jxwztj .small-word .word p{margin-bottom: 7px; height: 64px; line-height: 22px; overflow: hidden; font-size: 14px; color: #666;}
.jxwztj .small-word .word span{font-size: 12px; color: #999}
.jxwztj li.now .small-word{display: block;}
@media (max-width: 1366px){.news_l{width: 730px;} .tab_text span.n_tags{width: 370px;} .news_picTop .big,.news_picTop .big img{width: 500px; height: 373px;} .news_picTop .small,.news_picTop .small img{width: 264px; height: 182px;} .news_picTop li .titBg{height: 40px; line-height: 40px; font-size: 14px;} .news_tab ul.tab_tit li{width: 90px; font-size: 16px;} .tab_text h3{font-size: 20px;} .tab_text p{font-size: 15px;}}