
.topRanking{height: 140px;background: #fff;}
.logo{background: url(../images/Ranking.png) no-repeat ;background-position:0px 15px;}
.logo .wangyou{height: 140px;line-height: 140px;padding-left: 124px;font-size: 30px;font-weight:bold;}
.search_r{margin-top: 45px;}
/*左侧*/.news_l{width: 200px;}
.R_list{width: 100%;height: 50px;background: #f8f8f8;line-height: 50px;text-align: center;display: block;}
.k_list{overflow: hidden;background: #fff;}
.k_list li{margin-top: 1px;line-height: 50px;text-align: center;cursor:pointer;display: block;}
.k_list li:hover{background: #f8f8f8;color: #333;}
.kongbai{background: red;height: 50px;width:10px;display: block;float: right;margin-right: -9px;}
/*hover*/.Price{margin-top: -75px;margin-left: 210px;*margin-left: 80px;*margin-top: -40px;background: #fff;position: absolute;/*这里一定要设置*/z-index: 200;box-shadow: 0px 0px 8px #999;border: 1px #ddd solid;/* display: block;*/}
.triangle{background: url(../images/arrow1.png);*background: url(../images/arrow4.png);background-position: 15px 50px;display: block;width: 10px;*width: 10px;height: 25px;z-index: 230;margin-top: 30px;margin-left: -10px;}
.Price .Pricebox{width: 400px;}
.Price .Pricebox a{margin-left: 10px;width: 89px;float: left;}
.l_01 .Price{display: none;}
.l_01.active .Price{display:block;}
/*右侧*/.news_r{width: 980px;}
.top_list{background: #fff;overflow: hidden;}
.Navigation{}
.hk_car{/*background: #fff;*/}
.Navigation .listing{width: 82.33%;float: left;background: #fafafa;border-right: 1px #ddd solid;border-bottom: 1px #ddd solid;padding-left: 15px;}
.Navigation .listing li{height: 50px;font-size: 18px;line-height: 50px;text-align: center;float: left;margin: 0 7.5px;}
.Navigation .listing li a{display: block;line-height: 47px;font-size: 14px;padding: 0 5px;}
.Navigation .rightLabel{height: 51px;margin-left: 10px;line-height: 51px;font-size: 14px;display: block;text-align: center;}
.Navigation .fixed{height: 51px;line-height: 51px;font-size: 14px;margin-right: 10px;display: block;}
/*排行*/.hk_ph{position: relative;background: #fff;border-bottom: 1px #ddd solid;vertical-align:top}
.hk_ph:hover{background:#fafafa;}
.hk_ph .hk_Ranking{font-size: 30px;height:61px;width: 47px;text-align: center;padding-top: 4px;position: absolute;color: #a9a9a9;left: 20px;top: 30%;}
.hk_ph .firstThree1{position: absolute;background: url(../images/l_first.png) no-repeat;background-size:45px 61px;color: #fff;left: 18px;top: 30%;}
.hk_ph .firstThree2{position: absolute;background: url(../images/l_Second.png) no-repeat;background-size:45px 61px;color: #fff;left: 20px;top: 30%;}
.hk_ph .firstThree3{position: absolute;background: url(../images/l_Third.png) no-repeat;background-size:45px 61px;color: #fff;left: 20px;top: 30%;}
.hk_ph .hk_top{width: 880px;}
.hk_ph .hk_top .carArticle{width: 320px;font-size: 20px;font-weight:bold;margin-top: 20px;color: #333;overflow: hidden;}
.hk_ph .hk_top .hk_zt{margin-top: 20px;margin-left: 90px;height: 20px;line-height: 20px;font-size: 12px;}
.hk_ph .hk_top .hk_zt li{float: left;padding-left: 21px;margin-right: 21px;}
.zt{cursor:pointer;background: url(../images/l_1zhuanti.png) no-repeat left;}
.cs{cursor:pointer;background: url(../images/l_1canshu.png) no-repeat left;}
.qy{cursor:pointer;background: url(../images/l_1qianyan.png) no-repeat left;}
.zt a:hover ,.cs a:hover ,.qy a:hover{color: #4387da;}
/*星星*/.score{width: 140px;height: 60px;overflow: hidden;padding-left: 10px;}
.score i{background: url(../images/star1.png) repeat-x scroll 0 -19px;display: inline-block;height: 20px;position: relative;vertical-align: middle;width: 90px;margin-right: 10px;margin-top: 20px;}
.score em{background: url(../images/star1.png) repeat-x scroll 0 0;display: inline-block;height: 18px;position: absolute;top: -1px;}
/*车系*/.hk_below{width: 880px;margin-bottom: 15px;}
.hk_below img{width: 100px;height: 75px;margin-top: 10px;float: left;}
/*车系详情*/.hk_below ul{width: 560px;overflow: hidden;margin-top: 10px;float: left;padding-left:20px;}
.hk_below li{float: left;margin-bottom: 9px;}
.hk_below li.chang{width: 261px;margin-top: 7px;}
.hk_below li.jing{width: 280px;}
.hk_below li.chang .zhidaojia{font-size: 18px;font-weight: normal;color: #333;}
.hk_below li.jing .jiaqian{font-size: 24px;font-weight: normal;color: #eb2b3b;}
.hk_below li.jing .jiaqian1{font-size: 24px;font-weight: normal;color: #333;}
.hk_below li.chang em,.hk_below li.jing em{font-size: 18px;color: #999;}
.hk_below li.small{margin-right: 30px;}
.hk_below li.small em{color: #999;font-size: 14px;}
.hk_below li.small b{font-size: 14px;font-weight: normal;color: #333;}
.hk_below .xj_button{padding: 6px 35px;font-size: 16px;margin: 20px 10px 0 0;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.page_box{text-align: center;margin: 50px 0;}
.page_box li{display: inline;margin: 0 2px;}
.page_box a{padding: 8px 12px;text-align: center;background: #fff;display: inline-block;font-size: 16px;border: #ccc 1px solid;color: #666;}
.page_box a:hover{color: #333;text-decoration: none;}
.page_box li.page_now a{color: #fff;}
.boxs .titbox:last-child .linedashed{border:none;}
.page_box li.active a{color: #fff;}
@media (max-width: 1366px){.news_r{width: 830px;}
.Navigation .listing li a{font-size: 12px;margin-left: 0px;}
.Navigation .rightLabel{font-size: 12px;margin-left: 0px;}
.hk_ph .firstThree1,.hk_ph .firstThree2,.hk_ph .firstThree3{left: 5px;}
.hk_ph .hk_top{width: 760px;}
.hk_ph .hk_top .carArticle{width: 320px;font-size: 18px;line-height: 20px;}
.hk_ph .hk_top .hk_zt{margin-top: 20px;margin-left: 40px;line-height: 20px;}
.Navigation .fixed{font-size: 12px;}
.score{width: 100px;padding-left: 0px;height: 40px;}
.hk_below{width: 760px;}
.hk_below ul{width: 541px;}
.hk_below .xj_button{padding: 6px 17px;margin: 20px 10px 0 0;}
.Navigation .listing{width: 82.33%;}
.Navigation span{height: 40px;}
.hk_ph .hk_Ranking{left: 5px;}}